

<div class="d-flex align-items-center justify-content-center">
<h1> URL SHORTENER </h1>
</div>


<html>
    <%
=begin%>
 <body>
    <%= yield %>
    <form action="/submit_url" method="post">
    <label for="url">URL:</label>
    <input type="text" id="url" name="url" required>
    <input type="submit" value="Submit">
  </form>
  </body> 
<%
=end%>
</html>